services:
  # --------------------------------------------------------
  # SERVICE 1: POSTGRESQL DATABASE (MỚI)
  # --------------------------------------------------------
  db:
    image: postgres:16-alpine
    container_name: staffhub_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin123
      - POSTGRES_DB=pivinadanang_internal_management
    # Mount volume để không mất dữ liệu khi tắt container
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432" # Để bạn có thể dùng pgAdmin kết nối từ ngoài vào check data

  # --------------------------------------------------------
  # SERVICE 2: BACKEND (FASTAPI)
  # --------------------------------------------------------
  backend:
    build: ./backend
    container_name: staffhub_backend
    restart: always # Tự khởi động lại nếu crash (vd: do chưa kết nối kịp DB)
    ports:
      - "8000:8000"
    volumes:
      - ./backend/static/images:/app/static/images
      # ĐÃ BỎ dòng mount ./backend/data_storage (Không cần nữa)
    environment:
      - TZ=Asia/Ho_Chi_Minh
      # [QUAN TRỌNG] Thay 'localhost' bằng tên service 'db'
      - DATABASE_URL=postgresql://postgres:admin123@db:5432/pivinadanang_internal_management
      - SECRET_KEY=a4f2c9e8d1b7a650392817465cd6e7f89a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d
      - ALLOW_ORIGINS=*
    depends_on:
      - db # Đợi db khởi động xong mới chạy backend

  # --------------------------------------------------------
  # SERVICE 3: FRONTEND (NGINX + REACT)
  # --------------------------------------------------------
  frontend:
    build: ./frontend
    container_name: staffhub_frontend
    ports:
      - "9090:80"
    volumes:
      - ./backend/static/images:/usr/share/nginx/html/images
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

# Định nghĩa nơi lưu trữ dữ liệu DB
volumes:
  postgres_data:
